[submodule "amphor_synthetic/lib/forge-std"]
	path = amphor_synthetic/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "amphor_synthetic/lib/openzeppelin-contracts"]
	path = amphor_synthetic/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
