[submodule "amphor-contracts/lib/forge-std"]
	path = amphor-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "amphor-contracts/lib/openzeppelin-contracts"]
	path = amphor-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "amphor-contracts/lib/permit2"]
	path = amphor-contracts/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "amphor-contracts/lib/ERC-7540-Reference"]
	path = amphor-contracts/lib/ERC-7540-Reference
	url = https://github.com/ERC4626-Alliance/ERC-7540-Reference
